<div class="widget widget-add">
    <hr data-symbol="PUBLICIDAD">
    <div id="ad-slider" class="flexslider">
        <ul class="slides">
            <li><img src="/images/business_logos/cubarte.png" alt="add" class="img-responsive"></li>
            <li><img src="/images/business_logos/awala.png" alt="add" class="img-responsive"></li>
            <li><img src="/images/business_logos/oye_chico.png" alt="add" class="img-responsive"></li>
            <li><img src="/images/business_logos/mojitos_de_cuba.png" alt="add" class="img-responsive"></li>
            <li><img src="/images/business_logos/academia_mamboEn2.png" alt="add" class="img-responsive"></li>
        </ul>
    </div>
</div>