<div class="widget widget-featured">
    <hr data-symbol="LOS MEJORES">
    <div class="media media-sm entry-rating">
        <div class="media-left">
            <img class="media-object" src="http://placehold.it/200x150" alt="blog-thumb">
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                <a href="#">
                    Sirenis Punta Cana Resort Casino
                </a>
            </h5>
            <p class="stars">
                <i class="ti-star">
                </i>
                <i class="ti-star">
                </i>
                <i class="ti-star">
                </i>
                <i class="ti-start">
                </i>
                <i class="ti-star disabled">
                </i>
            </p>
            <ul class="list-inline">
                <li>
                    <p class="price line-trough">
                        $399.00
                    </p>
                </li>
                <li>
                    <p class="price">
                        $99.00
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- /entry rating -->
    <div class="media media-sm entry-rating">
        <div class="media-left">
            <img class="media-object" src="http://placehold.it/200x150" alt="blog-thumb">
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                <a href="#">
                    Plaza Resort Hotel & SPA
                </a>
            </h5>
            <p class="stars">
                <i class="ti-star">
                </i>
                <i class="ti-star">
                </i>
                <i class="ti-star">
                </i>
                <i class="ti-start">
                </i>
                <i class="ti-star">
                </i>
            </p>
            <ul class="list-inline">
                <li>
                    <p class="price line-trough">
                        $423.00
                    </p>
                </li>
                <li>
                    <p class="price">
                        $86.00
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- /entry rating -->
    <div class="media media-sm entry-rating">
        <div class="media-left">
            <img class="media-object" src="http://placehold.it/200x150" alt="blog-thumb">
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                <a href="#">
                    Wyndham Garden at Palmas del Mar
                </a>
            </h5>
            <p class="stars">
                <i class="ti-star">
                </i>
                <i class="ti-star">
                </i>
                <i class="ti-star">
                </i>
                <i class="ti-start">
                </i>
                <i class="ti-star">
                </i>
            </p>
            <ul class="list-inline">
                <li>
                    <p class="price line-trough">
                        $789.00
                    </p>
                </li>
                <li>
                    <p class="price">
                        $243.00
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- /entry rating -->
</div>