<div class="row">
    <div class="col-sm-12 clearfix">
        <div class="hr-link">
            <hr class="mBtm-50 mTop-30" data-symbol="DESCUENTOS DESTACADOS">
            <div class="view-all">
                <a href="/search">
                    Ver Todos
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 deals-container clearfix">
        <featured-two-boxes></featured-two-boxes>
    </div>
</div>