<div class="widget widget-tabs">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel" id="tabs" class="tabbable responsive">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                            Lo mas reciente
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                            Comentarios
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="deal-entry green deal-entry-sm">
                            <div class="offer-discount">
                                $347
                            </div>
                            <div class="image ripple-effect">
                                <a href="#" target="_blank" title="#">
                                    <img src="http://placehold.it/700x400" alt="#"
                                         class="img-responsive">
                                </a>
                              <span class="bought">
                                <i class="ti-tag">
                                </i>
                                21
                              </span>
                                <div class="caption">
                                    <h5 class="media-heading">
                                        <a href="#">
                                            Plaza Resort Hotel &amp; SPA
                                        </a>
                                    </h5>
                                    <p class="stars">
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-start">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                    </p>
                                </div>
                            </div>
                            <footer class="clearfix">
                                <div class="valueInfo shadow">
                                    <div class="value">
                                        <p class="value">
                                            $422
                                        </p>
                                        <p class="text">
                                            Value
                                        </p>
                                    </div>
                                    <div class="discount">
                                        <p class="value">
                                            64%
                                        </p>
                                        <p class="text">
                                            Discount
                                        </p>
                                    </div>
                                    <div class="save">
                                        <p class="value">
                                            $76
                                        </p>
                                        <p class="text">
                                            SAVINGS
                                        </p>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <!--/.deal entry -->
                        <div class="deal-entry green deal-entry-sm">
                            <div class="offer-discount">
                                $245
                            </div>
                            <div class="image ripple-effect">
                                <a href="#" target="_blank" title="#">
                                    <img src="http://placehold.it/700x400" alt="#"
                                         class="img-responsive">
                                </a>
                              <span class="bought">
                                <i class="ti-tag">
                                </i>
                                21
                              </span>
                                <div class="caption">
                                    <h5 class="media-heading">
                                        <a href="#">
                                            Plaza Resort Hotel &amp; SPA
                                        </a>
                                    </h5>
                                    <p class="stars">
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-start">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                    </p>
                                </div>
                            </div>
                            <footer class="clearfix">
                                <div class="valueInfo shadow">
                                    <div class="value">
                                        <p class="value">
                                            $1,422
                                        </p>
                                        <p class="text">
                                            Value
                                        </p>
                                    </div>
                                    <div class="discount">
                                        <p class="value">
                                            59%
                                        </p>
                                        <p class="text">
                                            Discount
                                        </p>
                                    </div>
                                    <div class="save">
                                        <p class="value">
                                            $976
                                        </p>
                                        <p class="text">
                                            SAVINGS
                                        </p>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <!--/.deal entry -->
                    </div>
                    <!-- /tab content -->
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="wrap mTop-20">
                            <div class="comment clearfix">
                                <div class="comment-avatar">
                                    <img src="http://placehold.it/80x80" alt="avatar">
                                </div>
                                <header>
                                    <h5>
                                        Really Nice Vacation!
                                    </h5>
                                    <div class="comment-meta stars">
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-start">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        | Today, 10:31
                                    </div>
                                    <!--/.stars -->
                                </header>

                            </div>
                            <!--/.comments -->
                            <div class="mTop-20">
                            </div>
                            <div class="comment clearfix">
                                <div class="comment-avatar">
                                    <img src="http://placehold.it/80x80" alt="avatar">
                                </div>
                                <header>
                                    <h5>
                                        Great deal guys
                                    </h5>
                                    <div class="comment-meta stars">
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-start">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        | Today, 20:47
                                    </div>
                                    <!--/.stars -->
                                </header>

                            </div>
                            <!--/.comments -->
                            <div class="mTop-20">
                            </div>
                            <div class="comment clearfix">
                                <div class="comment-avatar">
                                    <img src="http://placehold.it/80x80" alt="avatar">
                                </div>
                                <header>
                                    <h5>
                                        This is Your ratings comment!
                                    </h5>
                                    <div class="comment-meta stars">
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        <i class="ti-start">
                                        </i>
                                        <i class="ti-star">
                                        </i>
                                        | Today, 20:47
                                    </div>
                                    <!--/.stars -->
                                </header>

                            </div>
                            <!--/.comments -->

                        </div>
                        <!--/wrap -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>