<div class="widget widget-subscribe">
    <hr data-symbol="SOLICITAR TARJETA">
    <div class="newsletter">
        {#<h4>Solicitar Tarjeta</h4>#}
        <p>
            Registrate y obtené accesso a todos nuestros descuentos!
        </p>
        <div class="input-group">
            <span class="input-group-btn">
              <a href="/signup?user_type=member" class="btn btn-danger btn-block btn-raised ripple-effect" type="button">REGISTRAR</a>
            </span>
        </div>
    </div>
</div>