<div class="shadow bg-white mTop-30 frameLR">
    <div class="row">
        <div class="col-sm-12 clearfix">
            <div class="hr-link">
                <hr class="mBtm-50 mTop-30" data-symbol="NUESTROS CLIENTES">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <owl-slider identifier="home-client-logos-slider" json-list="/json/homeClientLogosSlider.json"></owl-slider>
        </div>

    </div>
    <!--/.row -->
</div>