<div id="tesimonials" class="widget clearfix bottommargin">

    <h4 class="highlight-me"><span>{{ trans('messages.testimonials_title') }}</span></h4>
    <div class="fslider testimonial noborder nopadding noshadow" data-animation="slide" data-arrows="false">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide">
                    <div class="testi-content">
                        <p>{{ trans('messages.testimonial_1') }}</p>
                        <div class="testi-meta">
                            Laura
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="testi-content">
                        <p>{{ trans('messages.testimonial_2') }}</p>
                        <div class="testi-meta">
                            Paola Marabini
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="testi-content">
                        <p>{{ trans('messages.testimonial_3') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>