{% block page_title %}Home{% endblock %}
{% extends 'layout/auth_base.twig' %}
{% block title %}Psicotango{% endblock %}

{% block content %}
    <section id="page-title" class="page-title-center">
        <div class="container clearfix">
            <h1>Tutoriales</h1>
            <span>Psicotango. Un abrazo sanador</span>
        </div>
    </section>

    <div class="container-fullwidth clearfix">
        <div class="tabs side-tabs nobottommargin clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" id="tab-6">

            <ul class="tab-nav tab-nav2 clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-21" aria-labelledby="ui-id-41" aria-selected="true" aria-expanded="true"><a href="#tabs-21" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-41"><i class="icon-video"></i> Modulo Uno</a></li>
                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-22" aria-labelledby="ui-id-42" aria-selected="false" aria-expanded="false"><a href="#tabs-22" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-42"><i class="icon-video"></i> Modulo Dos</a></li>
                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-23" aria-labelledby="ui-id-43" aria-selected="false" aria-expanded="false"><a href="#tabs-23" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-43"><i class="icon-video"></i> Seminario</a></li>
            </ul>

            <div class="tab-container">

                <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-21" aria-labelledby="ui-id-41" role="tabpanel" aria-hidden="false" style="display: block;">
                    <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen="" id="fitvid1"></iframe></div>

                    <br>
                    <div class="col_one_third">
                        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen="" id="fitvid1"></iframe></div>
                    </div>
                    <div class="col_one_third">
                        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen="" id="fitvid1"></iframe></div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen="" id="fitvid1"></iframe></div>
                    </div>
                </div>
                <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-22" aria-labelledby="ui-id-42" role="tabpanel" aria-hidden="true" style="display: none;">

                </div>
                <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-23" aria-labelledby="ui-id-43" role="tabpanel" aria-hidden="true" style="display: none;">

                </div>
            </div>

        </div>
    </div>


{% endblock %}