{% block page_title %}Home{% endblock %}
{% extends 'layout/login_base.twig' %}
{% block title %}Psicotango | Login {% endblock %}

{% block content %}
    <a href="/" class="standard-logo bottommargin-sm">
        <img src="/images/psicotango_title.png" alt="Psicotango" class="bottommargin-sm" style="width: 100%">
    </a>

    <h1 class="text-center" style="text-transform: uppercase">{{ trans('messages.login') }}</h1>

    <div class="center">
        <h4 style="margin-bottom: 15px;"></h4>
        <a href="/redirect/facebook" class="button button-rounded btn-block si-facebook si-colored"><i class="icon-facebook"></i> Facebook</a>
    </div>

    <login></login>
{% endblock %}