<div class="portfolio-ajax-modal">

	<div class="portfolio-single-image center dark" style="background: url('images/libroTangoDanzaTerapia.png') center center no-repeat; background-size: cover; padding: 140px 0;">
		<!-- <h2 class="nobottommargin">Tango, una danza interior</h2>
		<ul class="entry-meta clearfix">
			<li><i class="icon-user"></i> Ignacio Lavalle</li>
			<li><i class="icon-line-clock"></i> 01 Enero 22007</li>
			<li><a href="#"><i class="icon-book3"></i> Psicotango</a></li>
		</ul> -->
	</div><!-- .portfolio-single-image end -->

	<div class="modal-padding clearfix">

		<div class="row clearfix">

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-5">
				<img src="images/libroTangoDanzaTerapia.png" alt="Book Image">
			</div>

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-7">
				<div class="book-page-single-desc">
					<h3>Psicotango, danza como terapia</h3>
					<div class="book-price color font-primary"><span> $302 </span></div>

					<a href="https://articulo.mercadolibre.com.ar/MLA-682159338-psicotango-danza-como-terapia-_JM" target="_blank" class="button capitalize button-circle"><i class="icon-shopping-cart"></i><span>Mercado Libre</span></a>
					<a href="https://www.amazon.com/PSICOTANGO-Spanish-PERI-MONICA/dp/9500518880/ref=sr_1_1?s=books&ie=UTF8&qid=1532455852&sr=1-1&keywords=psicotango" target="_blank" class="button capitalize button-circle"><i class="icon-shopping-cart"></i><span>Amazon (u$s 38.97)</span></a>
				</div>
			</div><!-- .portfolio-single-content end -->

		</div>

	</div>
</div>