<div class="portfolio-ajax-modal">

	<div class="portfolio-single-image center dark" style="background: url('images/libroTangoUnAbrazoSanador1.png') center center no-repeat; background-size: cover; padding: 140px 0;">
		<!-- <h2 class="nobottommargin">Tango, una danza interior</h2>
		<ul class="entry-meta clearfix">
			<li><i class="icon-user"></i> Ignacio Lavalle</li>
			<li><i class="icon-line-clock"></i> 01 Enero 22007</li>
			<li><a href="#"><i class="icon-book3"></i> Psicotango</a></li>
		</ul> -->
	</div><!-- .portfolio-single-image end -->

	<div class="modal-padding clearfix">

		<div class="row clearfix">

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-5">
				<img src="images/libroTangoUnAbrazoSanador1.png" alt="Book Image">
			</div>

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-7">
				<div class="book-page-single-desc">
					<h3>Tango, una danza interior</h3>
					<div class="book-price color font-primary"><span> $397 </span></div>
					<p class="font-primary">
						<span class="dropcap color font-secondary">E</span>
						l abrazo del tango nos da la oportunidad de resignificar los lazos,
						de comunicarnos en un idioma común. Cuando bailamos tango no hablamos
						pero, ¿no hablamos? Nos pregunta Mónica Peri. Las relaciones entre el
						cuerpo y la palabra están en problemas. Los vínculos enferman de soledad
						cibernética. Este libro nos lleva por donde se esconden verdades nuevas.
						Es revolucionario en su mirada de esta danza que, evidentemente, no es
						sólo un esparcimiento: Abrazar es una respuesta directa para demostrar
						distintos sentimientos .A veces para calmar miedos, angustias, dar seguridad y
						protección. Es necesario, sin embargo, conocer nuestra capacidad de dar y recibir;
						nuestros miedos, los recuerdos que nos traen. La psicología, en este libro,
						danza la vida apasionadamente al ritmo del bandoneón. Leer este libro es un camino
						para conocernos más y mejor
					</p>
					<a href="https://articulo.mercadolibre.com.ar/MLA-715479672-libro-tango-un-abrazo-sanador-de-monica-peri-_JM" target="_blank" class="button capitalize button-circle"><i class="icon-shopping-cart"></i><span>Mercado Libre</span></a>
					<a href="https://www.amazon.com/Tango-abrazo-sanador-MONICA-PERI/dp/9500530902/ref=sr_1_1?s=books&ie=UTF8&qid=1532456185&sr=1-1&keywords=tango+un+abrazo+sanador" target="_blank" class="button capitalize button-circle"><i class="icon-shopping-cart"></i><span>Amazon (u$s 87.16)</span></a>
				</div>
			</div><!-- .portfolio-single-content end -->

		</div>

	</div>
</div>