<div class="portfolio-ajax-modal">

	<div class="portfolio-single-image center dark" style="background: url('images/libroTangoDanzaInterior.png') center center no-repeat; background-size: cover; padding: 140px 0;">
		<!-- <h2 class="nobottommargin">Tango, una danza interior</h2>
		<ul class="entry-meta clearfix">
			<li><i class="icon-user"></i> Ignacio Lavalle</li>
			<li><i class="icon-line-clock"></i> 01 Enero 22007</li>
			<li><a href="#"><i class="icon-book3"></i> Psicotango</a></li>
		</ul> -->
	</div><!-- .portfolio-single-image end -->

	<div class="modal-padding clearfix">

		<div class="row clearfix">

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-5">
				<img src="images/libroTangoDanzaInterior.png" alt="Book Image">
			</div>

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-7">
				<div class="book-page-single-desc">
					<h3>Tango, una danza interior</h3>
					<div class="book-price color font-primary"><span> $246 </span></div>
					<p class="font-primary">
						<span class="dropcap color font-secondary">L</span>
						as observaciones psicologicas y filosoficas que se plantean
						sobre el tango en esta obra, con el tiempo seran necesarias
						como base de cualquier discusion seria sobre el tema, puesto
						que la mayoria de estas son de una solidez indiscutible a las que
						se podra agregar conceptos adicionales, o algunos que accionan en
						modo paralelo, pero nunca se podra desconocer la presencia de las
						aqui vertidas.
					</p>
					<a href="https://articulo.mercadolibre.com.ar/MLA-682158113-tango-una-danza-interior-evolucion-psicologica-del-tango-_JM" target="_blank" class="button capitalize button-circle"><i class="icon-shopping-cart"></i><span>Mercado Libre</span></a>
					<a href="https://www.amazon.com/Tango-Interior-Evolucion-Psicologica-Spanish/dp/950051723X/ref=sr_1_5?ie=UTF8&qid=1532453943&sr=8-5&keywords=una+danza+interior" target="_blank" class="button capitalize button-circle"><i class="icon-shopping-cart"></i><span>Amazon (u$s 34.97)</span></a>
				</div>
			</div><!-- .portfolio-single-content end -->

		</div>

	</div>
</div>