<footer id="footer">
    <div class="container">
        <div class="col-sm-3">
            <img src="/images/logo2.png" alt="#" class="img-responsive logo">
            <p>
                Cuponera de increibles descuentos, los cuales podes utilizar en una gran variedad de lugares, como
                restaurants, clases, eventos, fiestas, seminarios, viajes y mucho mas....
            </p>
        </div>
        <div class="col-sm-3">
            <h5>
                Que buscan mas?
            </h5>
            <ul class="tags">
                <li>
                    <a href="#" class="tag">
                        Restaurants
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        Clases
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        Profesores
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        Eventos
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        Talleres
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        Seminarios
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        Viajes
                    </a>
                </li>
                <li>
                    <a href="#" class="tag">
                        La City
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h5>
                ACADEMIAS
            </h5>
            <ul class="list-unstyled">
                <li>
                    Academia Awalá
                </li>
                <li>
                    Academia Bailemos
                </li>
                <li>
                    Academia Mambo en 2
                </li>
                <li>
                    Academia CubArte
                </li>
                <li>
                    Proyecto Metizo
                </li>
                <li>
                    Estudio Saoco
                </li>
                <li>
                    Estudio Vibra Dance
                </li>
                <li>
                    Academia Gaby Salsa Club
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h5>
                EVENTOS
            </h5>
            <ul class="list-unstyled">
                <li>
                    Con Clave en LA CITY
                </li>
                <li>
                    Salsa FEST
                </li>
            </ul>
            <h6>
                Organizadores
            </h6>
            <ul class="list-unstyled">
                <li>Ale Casano</li>
                <li>Mario Imas</li>
                <li>Pablo Andolina</li>
                <li>Matias Rojos</li>
                <li>Gregorio Rangel</li>
                <li>Iedel Santos</li>
                <li>Eddie Aponte</li>
                <li>Alexis Mambo</li>
                <li>Claudio de Oliveira</li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h5>
                RESTAURANTS
            </h5>
            <ul class="list-unstyled">
                <li>
                    Restaurant CUBA MIA
                </li>
                <li>
                    Restaurant Oye Chico
                </li>
                <li>
                    Restaurant MOJITOS DE CUBA
                </li>
                <li>
                    Restaurant LA BODEGUITA DEL MEDIO
                </li>
                <li>
                    Restaurant AZUCAR BELGRANO
                </li>
            </ul>
        </div>
    </div>
    <div class="btmFooter">
        <div class="container">
            <div class="col-sm-7">
                <p>
                    <strong>
                        Copyright 2016
                    </strong>
                    Club Cultural - Tu lugar de Descuento
                    <i class="ti-heart"></i>
                    <strong>
                        por Veronica Nisenbaum
                    </strong>
                </p>
            </div>
            <div class="col-sm-5">
                <ul class="pay-opt pull-right list-inline list-unstyled">
                    <li>
                        <a href="#" title="#">
                            <img src="/images/amz-icon.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <img src="/images/paypal-icon.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <img src="/images/ax-icon.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <img src="/images/mb-icon.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <img src="/images/mst-icon.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="#">
                            <img src="/images/mstr-icon.png" class="img-responsive" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>