<header>
    {{ include('/layout/_top_bar.twig') }}
    <div id="nav-wrap">
        <div class="nav-wrap-holder">
            <div class="container" id="nav_wrapper">
                <nav class="navbar navbar-static-top nav-white" id="main_navbar" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                      <span class="sr-only">
                        Toggle navigation
                          </span>
                          <span class="icon-bar">
                          </span>
                          <span class="icon-bar">
                          </span>
                          <span class="icon-bar">
                          </span>
                        </button>
                        <a href="/" class="navbar-brand logo col-sm-3">
                            <img src="/images/logo2.png" alt="" class="img-responsive">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="Navbar">
                        <!-- regular link -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            {#<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Pages
                                  <span class="caret">
                                  </span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="details_2.html">
                                            Deal Page 1
                                        </a>
                                    </li>
                                </ul>
                            </li>#}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Categorias
                                  <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/category/today">
                                            Hoy
                                        </a>
                                    </li>
                                    {% for category in categories %}
                                    <li>
                                        <a href="/category/{{ category.category_slug }}">
                                            {{ category.category_name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if Auth.user.hasRole('admin')%}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Admin
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="/admin/manage/business">
                                                Administrar Clientes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/manage/deals">
                                                Administrar Descuentos
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li>
                                <a href="/contactus">
                                    Contactenos
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /.div nav wrap holder -->
    </div>
    <!-- /#nav wrap -->

</header>