<div class="top-bar bg-light hdden-xs" style="background-color: #FFF">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 list-inline list-unstyled no-margin hidden-xs">
                <ul class="list-inline list-unstyled pull-left">
                    <li>
                        <a href="/">
                            <img src="/images/logo2.png" alt="" class="img-responsive" style="width: 60%">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>