<!DOCTYPE html>
<html lang="en" style="height:auto;">

{% block head %}
    <head>
        <title>{% block title %}Club Cultural{% endblock %}</title>

        <!-- These 3 MUST come first for Bootstrap to work. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#005281">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/vendor.css" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/images/tocororo.png">
        <link rel="apple-touch-icon" href="#">
        <link rel="apple-touch-icon" sizes="72x72" href="#">
        <link rel="apple-touch-icon" sizes="114x114" href="#">

        <script>
            window.Laravel = { 'csrfToken': '{{ csrf_token() }}'};
        </script>
    </head>
{% endblock %}

<body>
    <div class="site-wrapper _animsition" id="application" data-animsition-in="fade-in" data-animsition-out="fade-out">
        {% block header %}
            {{ include('/layout/_header.twig') }}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>

    {{ include('/layout/_footer.twig') }}
    <script src="/js/app.js"></script>
    <script src="/js/vendor/vendor.js"></script>
    <script src="/js/kupon.js"></script>
</body>

</html>

